#external{
    background-color: hsl(240, 100%, 50%, 0.1);
}

#box1{
    background-color: red;
}

#box2{
    background-color: rgb(260, 13, 126);
}

#box3{
    background-color: hsl(0, 100%, 0%);
}

#box4{
    background-color: hsl(0, 100%, 25%);
}

#box5{
    background-color: hsl(0, 100%, 50%);
}

#box6{
    background-color: hsl(0, 100%, 75%);
}

#box7{
    background-color: hsl(0, 100%, 90%);
}


div{
    border: 2px solid red;
}