body{
    /* background-image:url("https://sergiotaco.github.io/html-css-workshop/images/banner.jpg"); */
    background-color: darkgrey;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lobster', cursive;
    font-family: 'Audiowide';
    margin: 0;
    padding: 0;

}

.anagövde {
    padding: 20%;
    background-image: url("https://sergiotaco.github.io/html-css-workshop/images/banner.jpg");
    background-size: cover;
    background-color: black;
}

.anagövde::after{
    background-color: black;
}

.anagövde div {
    text-align: center;
    color: white;
    font-size: 30px;
}

#soyad {
    color: red;
}

.başlık {
    background-color: black;
    display: flex;
    align-items: center;
    color: #fff;
    border-bottom: 5px solid red;
}

.başlık1 {
    color: white;
    margin: 30px;
}

.başlık2 dl {
    text-decoration: none;
    display: flex;
    color: white;
}


dl {
    margin: 0;
    padding: 0;
}

#araçizgi {
    font-size: large;
    color: red;
}


