body{
    margin: auto;
    
}

#heads{
    display: flex;
    justify-content: space-between;
}

nav .middle li {
    text-decoration: none;
    
}

#heads .left {
    display: flex;
    background-color: #bcccdc;
    width: 100px;
}

#heads .middle {
    display: flex;
    background-color: #ebf7ff;
    color: black;
    border-radius: 30px;
    text-align: center;
}

#heads .right {
    background-color: #49a6e9;
    justify-content: flex-end;
}

.middle ul a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    gap: 10px;
}

.mlink:hover {
    font-size: 120%;
}

#heads .right :hover {
    font-size: 120%;
    color: blue;
}