body{

}

nav{
    display: flex;
    align-items: stretch;

}

nav .middle li {
    text-decoration: none;
    
}

nav .right li {
    
    
}

.left {
    display: flex;
    background-color: #bcccdc;
}

.middle {
    display: flex;
    background-color: #ebf7ff;
    color: black;
    border-radius: 30px;
}

.right {
    display: flex;
    background-color: #49a6e9;
}

.right li {
    display: inline;

}